<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cutive" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <div class="about">
        <div class="container">
        <div class="wthree_head_section">
                    <h3 class="w3l_header">Sobre Nosotros</h3>
                    <p>Misión 2018: 
                        Ser un sitio web que brinde información veraz y estadísticas certeras acerca del Campeonato Nacional de Fútbol de Primera División de Costa Rica con la mayor cantidad de internautas en el país.</p>
                    <p>Visión:
                        Convertirse en el sitio web líder en el conteo de estadísticas e información sobre el Campeonato Nacional de Fútbol de Primera División de Costa Rica.</p>
                </div>
            <div class="ab-agile">
                <div class="col-md-6 aboutleft">
                    <h3>Futico</h3>
                    <p class="para1">Esta es una página que busca informar sobre todo
                            el ámbito del futbol a nivel de Costa Rica. Se busca información confiable y de otras páginas serias para
                            que el visitante obtenga información veridica y de calidad.  </p>
                    <p class="para1">Tambien se buscan enfatizar en aspectos como:</p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Estadisticas. </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Noticias. </p>
                    <p><i class="fa fa-check" aria-hidden="true"></i> Trofeos. </p>
                    </div>
                <div class="col-md-6 aboutright">
                    <img src="assets/img/ldalogo.jpg" class="img-responsive" alt="" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <section class="team" >
        <div class="container">
            <div class="wthree_head_section">
                    <h3 class="w3l_header">Equipo de Trabajo</h3>
                    <p>Como un conjunto de desarrolladores se dio la iniciativa de crear una página web en la cual se mostrara todo sobre el ámbito del futbol de Costa Rica de una manera atractiva y fluida para los visitantes de la página, también se contara con una sección donde se mostraran estadísticas del campeonato.</p>
                </div>
            <div class="team-grid-top">
                <div class="col-md-3 team1">
                    <div class="inner-team1">
                    <img src="assets/img/rolo.jpg" alt="" />
                    <h3>Rolando Rodríguez</h3>
                    <h4>Desarrollador</h4>
                        <div class="team-social">
                            <a href="https://twitter.com/rjrc_"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/rolando.campos.12"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/rjrc_/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 team1">
                    <div class="inner-team1">
                    <img src="assets/img/kevin.jpg" alt="" />
                    <h3>Kevin Rodríguez</h3>
                    <h4>Desarrollador</h4>
                        <div class="team-social">
                            <a href="https://twitter.com/kevrv961"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/kevin.rodriguezvalverde"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.facebook.com/kevin.rodriguezvalverde#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 team1">
                    <div class="inner-team1">
                    <img src="assets/img/david.jpg" alt="" />
                    <h3>David Leiton</h3>
                    <h4>Desarrollador</h4>
                        <div class="team-social">
                            <a href="https://twitter.com/jdavidla"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/david.leitonarias"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/jdavidla/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 team1">
                    <div class="inner-team1">
                    <img src="assets/img/Mario.jpg" alt="" />
                    <h3>Mario Alvarado</h3>
                    <h4>Desarrollador</h4>
                   
                        <div class="team-social">
                            <a href="https://twitter.com/MarioAlvar25"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/mario.alvaradoangulo"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/_marioalvarado/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            
        </div>
    </section>

</body>
</html>
