<h2>Cuadrangular</h2>
<table class="table table-striped">
  <tr>
    <th>Posicion</th>
    <th>Equipo</th>
    <th>Puntos</th>
    <th>PJ</th>
    <th>PG</th>
    <th>PE</th>
    <th>PP</th>
    <th>GF</th>
    <th>GC</th>
    <th>GD</th>
  </tr>
  <tr *ngFor="let cuadrangular of cuadrangular.posiciones">
    <td>{{cuadrangular.posicion}}</td>
    <td>
      <a style="text-decoration: none; color: black"  routerLink="../{{cuadrangular.url}}" >
        {{cuadrangular.nombre}}
      </a>
    </td>
    <td>{{cuadrangular.pts}}</td>
    <td>{{cuadrangular.pj}}</td>
    <td>{{cuadrangular.pg}}</td>
    <td>{{cuadrangular.pe}}</td>
    <td>{{cuadrangular.pp}}</td>
    <td>{{cuadrangular.gf}}</td>
    <td>{{cuadrangular.gc}}</td>
    <td>{{cuadrangular.gd}}</td>
  </tr>

</table>


<h2>Clasificacion</h2>
<table class="table table-striped">
  <tr>
    <th>Posicion</th>
    <th>Equipo</th>
    <th>Puntos</th>
    <th>PJ</th>
    <th>PG</th>
    <th>PE</th>
    <th>PP</th>
    <th>GF</th>
    <th>GC</th>
    <th>GD</th>
  </tr>
  <tr *ngFor="let clasificacion of clasificacion.posiciones">
    <td>{{clasificacion.posicion}}</td>
    <td>
      <a style="text-decoration: none; color: black"  routerLink="../{{clasificacion.url}}" >
        {{clasificacion.nombre}}
      </a>
    </td>
    <td>{{clasificacion.pts}}</td>
    <td>{{clasificacion.pj}}</td>
    <td>{{clasificacion.pg}}</td>
    <td>{{clasificacion.pe}}</td>
    <td>{{clasificacion.pp}}</td>
    <td>{{clasificacion.gf}}</td>
    <td>{{clasificacion.gc}}</td>
    <td>{{clasificacion.gd}}</td>
  </tr>
</table>
