<h1>Cuadrangular</h1>
<table class="table">
  <tr>
    <th>Posicion</th>
    <th>Equipo</th>
    <th>Puntos</th>
    <th>PJ</th>
    <th>PG</th>
    <th>PE</th>
    <th>PP</th>
    <th>GF</th>
    <th>GC</th>
    <th>GD</th>
  </tr>
  <tr *ngFor="let cuadrangular of cuadrangular.posiciones">
    <td>{{cuadrangular.posicion}}</td>
    <td>{{cuadrangular.nombre}}</td>
    <td>{{cuadrangular.pts}}</td>
    <td>{{cuadrangular.pj}}</td>
    <td>{{cuadrangular.pg}}</td>
    <td>{{cuadrangular.pe}}</td>
    <td>{{cuadrangular.pp}}</td>
    <td>{{cuadrangular.gf}}</td>
    <td>{{cuadrangular.gc}}</td>
    <td>{{cuadrangular.gd}}</td>
  </tr>

</table>


<h1>Clasificacion</h1>
<table class="table">
  <tr>
    <th>Posicion</th>
    <th>Equipo</th>
    <th>Puntos</th>
    <th>PJ</th>
    <th>PG</th>
    <th>PE</th>
    <th>PP</th>
    <th>GF</th>
    <th>GC</th>
    <th>GD</th>
  </tr>
  <tr *ngFor="let clasificacion of clasificacion.posiciones">
    <td>{{clasificacion.posicion}}</td>
    <td>{{clasificacion.nombre}}</td>
    <td>{{clasificacion.pts}}</td>
    <td>{{clasificacion.pj}}</td>
    <td>{{clasificacion.pg}}</td>
    <td>{{clasificacion.pe}}</td>
    <td>{{clasificacion.pp}}</td>
    <td>{{clasificacion.gf}}</td>
    <td>{{clasificacion.gc}}</td>
    <td>{{clasificacion.gd}}</td>
  </tr>
</table>

<!--
<p>{{tablaInfo.schema}}</p>
 
<h1>Cuadrangular Actual</h1>
<table class="table">
  <tr>
    <th>Posicion</th>
    <th>Equipo</th>
    <th>Puntos</th>
    <th>PJ</th>
    <th>PG</th>
    <th>PE</th>
    <th>PP</th>
    <th>GF</th>
    <th>GC</th>
    <th>GD</th>
  </tr>
  <tr *ngFor="let equipo of tablaInfo.standings[0].groups[2].team_standings">
    <td>{{equipo.rank}}</td>
    <td>{{equipo.team.name}}</td>
    <td>{{equipo.points}}</td>
    <td>{{equipo.played}}</td>
    <td>{{equipo.win}}</td>
    <td>{{equipo.draw}}</td>
    <td>{{equipo.loss}}</td>
    <td>{{equipo.goals_for}}</td>
    <td>{{equipo.goals_against}}</td>
    <td>{{equipo.goal_diff}}</td>
  </tr>
</table>

  <h1>Clasificacion Actual</h1>
  <table class="table">
    <tr>
      <th>Posicion</th>
      <th>Equipo</th>
      <th>Puntos</th>
      <th>PJ</th>
      <th>PG</th>
      <th>PE</th>
      <th>PP</th>
      <th>GF</th>
      <th>GC</th>
      <th>GD</th>
    </tr>
    <tr *ngFor="let equipo of tablaInfo.standings[0].groups[3].team_standings">
      <td>{{equipo.rank}}</td>
      <td>{{equipo.team.name}}</td>
      <td>{{equipo.points}}</td>
      <td>{{equipo.played}}</td>
      <td>{{equipo.win}}</td>
      <td>{{equipo.draw}}</td>
      <td>{{equipo.loss}}</td>
      <td>{{equipo.goals_for}}</td>
      <td>{{equipo.goals_against}}</td>
      <td>{{equipo.goal_diff}}</td>
    </tr>
  </table>
-->