.team {
    padding-right: 2ex;
    }

.options, .navbar-brand {
    padding-right: 16ex;
    }


.navbar-inverse{

    padding-bottom: 0%;
    padding-top: 0%;
    clear: both;
    margin-top: 0%;
    margin: 0%;
    margin-bottom: 0%;
}

.ng-sticky{
    background-color: black;
    line-height: 0%;
    clear: both;
}
