<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->    
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50"> <!-- esto es para que cuando 
                        se haga mas pequeño, ocupe solamente la mitad de la pantalla, ejemplo:
                        xl, then fallback to 'gt-sm' so the div sizing is 100%
                        lg, then fallback to 'gt-sm' so the div sizing is 100%
                        md, then fallback to 'gt-sm' so the div sizing is 100%
                        sm, then fallback to the default fxFlex="50%"; so the div sizing is 50%
                        xs, then fallback to the default fxFlex="50%"; so the div sizing is 50%
                    -->
                        Pagina de inicio
                        Aquí irá una información acerca de algunas cosas sobre la página,
                        algunos datos importantes sobre UNAFUT, AÑOS, PARTIDOS, ACTUAL CAMPEON , ETC.
                    </div>                    
                </div>   
                
                <div fxLayout="row" fxLayoutWrap="wrap">
                        <!-- column -->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50"> 
                            
                            Pagina de inicio
                            Aquí irá una información acerca de algunas cosas sobre la página,
                            algunos datos importantes sobre UNAFUT, AÑOS, PARTIDOS, ACTUAL CAMPEON , ETC.
                        </div>                    
                    </div>   

            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->    
</div>

