.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;

  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .table{

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table tr:hover {
    background-color: black;
    color: white;
}

.title{
    font-family: 'Vollkorn', serif;
}

.subtitle .stadium .date .championships .dt{
    font-family: 'Cutive', serif;
    color: white;
}

h1, h4 {

color: white;
}

.stadium{

}
.date {}
.championships{}
.dt {}

.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }
  body{
    background-color: #26a69a;
  }

  .table{
      background-color: #e8e8e8;
  }
  .tab{
    background-color: #e8e8e8;
  }



  /* Styles for tab labels */
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}

p {
  font-family: Lato;
}