<!--Tutorial para css bootstrap divs
https://getbootstrap.com/docs/3.3/css/
-->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cutive" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

  <!--
<div class="container-fluid"> 
<div class="row">
  <div class="col-sm-2"></div><img src="assets/img/carmelitalogo.png"></div>
  <div class="col-sm-8">Info</div>
  <div class="col-sm-2">Social Media</div>

</div>
-->
<div class="container-fluid"> 
 
  <div class="row ">
    <div class="col-sm-3"><img class="displayed focus pic" src="assets/img/carmelitalogo.png"></div>
    <div class="col-sm-6">
     <!--   <h1 class="title"> {{carmelitaInfo.nombre}}</h1> <br>
        <h4 class="subtitle">Sigla: {{carmelitaInfo.sigla}} </h4><br>
        <h4 class="stadium">Estadio: {{carmelitaInfo.estadio}}</h4>
        <h4 class="date">Año de creacion: {{carmelitaInfo.ano_creacion  | date:'shortDate'}}</h4><br>
        <h4 class="championships">Titulos: {{carmelitaInfo.titulos}}</h4><br>
        <h4 class="dt">Director Tecnico: {{carmelitaInfo.dt}}</h4><br>-->

        <div class="container">
            <div class="row text-center">
            <h2 class="carmen">{{carmelitaInfo.nombre}} </h2>
                <p class="carmen">{{carmelitaInfo.sigla}}</p>
          </div>
            <div class="row">
              <div class="col-sm-2">
                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                      <img src="https://image.ibb.co/fLYf0d/carmelita_Estadio.jpg" alt="carmelita_Estadio" class="img-responsive">
                    </p>
                    <div class="caption">
                      <div class="blur"></div>
                      <div class="caption-text">
                        <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">Estadio</h3>
                        <p>{{carmelitaInfo.estadio}}</p>
                      </div>
                    </div>
                  </div>
                
              </div>
                <div class="col-sm-2">
                      <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="https://image.ibb.co/jCGNDy/trofeo.jpg" alt="trofeo" class="img-responsive">
                    </p>
                    <div class="caption">
                      <div class="blur"></div>
                      <div class="caption-text">
                        <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">Titulos</h3>
                        <p>{{carmelitaInfo.titulos}}</p>
                      </div>
                    </div>
                  </div>
                
              </div>
                <div class="col-sm-2">
                      <div class="cuadro_intro_hover" style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="https://image.ibb.co/kkEjty/mario_viquez.jpg" alt="mario_viquez" class="img-responsive">
                    </p>
                    <div class="caption">
                      <div class="blur"></div>
                      <div class="caption-text">
                        <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">DT</h3>
                        <p>{{carmelitaInfo.dt}}</p>
                      </div>
                    </div>
                  </div>
                
              </div>
            </div>
        </div>

    </div>
    <div class="col-sm-3">
      <a href=" #" target="_blank" class="fa fa-facebook"></a>
<a href="#" target="_blank" class="fa fa-twitter"></a>
<a href="#" target="_blank" class="fa fa-youtube"></a>
      
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <table class="table">
        <tr>
          <th>Equipo Local</th>
          <th>Goles</th>
          <th>Goles</th>
          <th>Equipo visita</th>
          <th>Fecha</th>
        </tr>
        <!--
          result.sport_event.competitors[0].name === 'AD Carmelita' || result.sport_event.competitors[1].name === 'AD Carmelita'
        -->
        <tr *ngFor="let result of resultados.results">
          <td *ngIf="(result.sport_event.competitors[0].name === 'AD Carmelita' || result.sport_event.competitors[1].name === 'AD Carmelita') && result.sport_event_status.status !== 'cancelled' && result.sport_event_status.status !== 'postponed'">{{result.sport_event.competitors[0].name}}</td>
          <td *ngIf="(result.sport_event.competitors[0].name === 'AD Carmelita' || result.sport_event.competitors[1].name === 'AD Carmelita') && result.sport_event_status.status !== 'cancelled' && result.sport_event_status.status !== 'postponed'">{{result.sport_event_status.home_score}}</td>
          <td *ngIf="(result.sport_event.competitors[0].name === 'AD Carmelita' || result.sport_event.competitors[1].name === 'AD Carmelita') && result.sport_event_status.status !== 'cancelled' && result.sport_event_status.status !== 'postponed'">{{result.sport_event_status.away_score}}</td>
          <td *ngIf="(result.sport_event.competitors[0].name === 'AD Carmelita' || result.sport_event.competitors[1].name === 'AD Carmelita') && result.sport_event_status.status !== 'cancelled' && result.sport_event_status.status !== 'postponed'">{{result.sport_event.competitors[1].name}}</td>
          <td *ngIf="(result.sport_event.competitors[0].name === 'AD Carmelita' || result.sport_event.competitors[1].name === 'AD Carmelita') && result.sport_event_status.status !== 'cancelled' && result.sport_event_status.status !== 'postponed'">{{result.sport_event.scheduled}}</td>
        </tr>
        </table>
    </div>
    <div class="col-sm-7">
      
        <mat-card class="tab">
            <mat-card-content>
              <mat-tab-group class="demo-tab-group">
                <mat-tab label="Plantel">
                    <table class="table">
                        <tr>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>#</th>
                          <th>Fecha de Nacimiento</th>
                          <th>Nacionalidad</th>
                          <th>Posicion</th>
                        </tr>
                        <tr *ngFor="let jugador of carmelitaInfo.jugadores">
                          <td>{{jugador.nombre}}</td>
                          <td>{{jugador.apellido}}</td>
                          <td>{{jugador.numero}}</td>
                          <td>{{jugador.fechaNacimiento  | date:'shortDate'}}</td>
                          <td>{{jugador.nacionalidad}}</td>
                          <td>{{jugador.posicion}}</td>
                        </tr>
                        </table>
                </mat-tab>
                <mat-tab label="Calendario">
                  <div class="demo-tab-content">
                    Calendario del equipo
                  </div>  
                </mat-tab>
                <mat-tab label="Goleo">
                  <div class="demo-tab-content">
                   Goleadores del equipo
                   <table class="table">
                      <tr>
                        <th>Nombre</th>
                        <th>Equipo</th>
                        <th>Goles</th>
                        <th>Pie</th>
                        <th>Cabeza</th>
                        <th>Falta</th>
                        <th>Penal</th>
                      </tr>
                      <tr *ngFor="let goleo of carmelitaGoleo.goleadores">
                        <td>{{goleo.nombre}}</td>
                        <td>{{goleo.equipo}}</td>
                        <td>{{goleo.goles}}</td>
                        <td>{{goleo.pie}}</td>
                        <td>{{goleo.cabeza}}</td>
                        <td>{{goleo.falta}}</td>
                        <td>{{goleo.penal}}</td>
                      </tr>
                      </table>
                  </div>  
                </mat-tab>
                <mat-tab label="Asistencias">
                    <div class="demo-tab-content">
                        Asistencias del equipo
                       </div>
                </mat-tab>
                <mat-tab label="Noticias">
                    <div class="demo-tab-content">
                        noticas del equipo
                       </div>  
                </mat-tab>
                <mat-tab label="Historia">
                    <p>{{carmelitaInfo.historia}}</p>  
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>


    </div>
    <div class="col-md-3">twitter del equipo</div>
  </div>
  
  </div>

</body>
</html>
