/* You can add global styles to this file, and also import other style files */
h2 {
    border-bottom: 10px solid;
    border-bottom-color: #26A69A;
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
    font-weight: 900;
    margin: 0 auto;
    padding: 20px 0 3px;
    text-align: center;
    text-transform: uppercase;
    width: 40.2%;
  }

