
<!--

-->


<head>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cutive" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
  
</head>


<h1 class="title">{{ldaInfo.nombre}}</h1> <br>
<h4 class="subtitle">Sigla: {{ldaInfo.sigla}} </h4><br>
<h4 class="stadium">Estadio: {{ldaInfo.estadio}}</h4>
<h4 class="date">Año de creacion: {{ldaInfo.ano_creacion  | date:'shortDate'}}</h4><br>
<h4 class="championships">Titulos: {{ldaInfo.titulos}}</h4><br>
<h4 class="dt">Director Tecnico: {{ldaInfo.dt}}</h4><br>
<h4 class="histor">Historia</h4><br>
<p>{{ldaInfo.historia}}</p> 



<h2>Panilla</h2>
<table class="table">
<tr>
<th>Nombre</th>
<th>Apellido</th>
<th>#</th>
<th>Fecha de Nacimiento</th>
<th>Nacionalidad</th>
<th>Posicion</th>
</tr>
<tr *ngFor="let jugador of ldaInfo.jugadores">
<td>{{jugador.nombre}}</td>
<td>{{jugador.apellido}}</td>
<td>{{jugador.numero}}</td>
<td>{{jugador.fechaNacimiento  | date:'shortDate'}}</td>
<td>{{jugador.nacionalidad}}</td>
<td>{{jugador.posicion}}</td>
</tr>
</table>

  


<!--
  <mat-tab-group>
    <mat-tab label="Nombre">
      {{ldaInfo.nombre}}
    </mat-tab>
    <mat-tab label="Sigla">
        <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>
      {{ldaInfo.sigla}}
    </mat-tab>
    <mat-tab label="Estadio">
      {{ldaInfo.estadio}}
    </mat-tab>
    <mat-tab label="Año de creación">
      {{ldaInfo.ano_creacion  | date:'shortDate'}}
    </mat-tab>
    <mat-tab label="Historia"> <p>{{ldaInfo.historia}}</p> </mat-tab>
    <mat-tab label="Plantel">
      <table class="table">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>#</th>
          <th>Fecha de Nacimiento</th>
          <th>Nacionalidad</th>
          <th>Posicion</th>
        </tr>
        <tr *ngFor="let jugador of ldaInfo.jugadores">
          <td>{{jugador.nombre}}</td>
          <td>{{jugador.apellido}}</td>
          <td>{{jugador.numero}}</td>
          <td>{{jugador.fechaNacimiento  | date:'shortDate'}}</td>
          <td>{{jugador.nacionalidad}}</td>
          <td>{{jugador.posicion}}</td>
        </tr>
        </table>
    </mat-tab>
  </mat-tab-group>

   
 

   <h1 class="title">{{ldaInfo.nombre}}</h1> <br>
    <h4 class="subtitle">Sigla: {{ldaInfo.sigla}} </h4><br>
    <h4 class="stadium">Estadio: {{ldaInfo.estadio}}</h4>
    <h4 class="date">Año de creacion: {{ldaInfo.ano_creacion  | date:'shortDate'}}</h4><br>
    <h4 class="championships">Titulos: {{ldaInfo.titulos}}</h4><br>
    <h4 class="dt">Director Tecnico: {{ldaInfo.dt}}</h4><br>
    <h4 class="histor">Historia</h4><br>
    <p>{{ldaInfo.historia}}</p> 

   

    <h2>Panilla</h2>
  <table class="table">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>#</th>
    <th>Fecha de Nacimiento</th>
    <th>Nacionalidad</th>
    <th>Posicion</th>
  </tr>
  <tr *ngFor="let jugador of ldaInfo.jugadores">
    <td>{{jugador.nombre}}</td>
    <td>{{jugador.apellido}}</td>
    <td>{{jugador.numero}}</td>
    <td>{{jugador.fechaNacimiento  | date:'shortDate'}}</td>
    <td>{{jugador.nacionalidad}}</td>
    <td>{{jugador.posicion}}</td>
  </tr>
  </table>
  !-->
  




