<div class="container">
    <h2>Goles Anotados</h2>
    <div class="row">
        <div class="col-md-9">
            <canvas id="myChart" width="700" height="400"></canvas>.
        </div>
        <div class="col-md-3">
            <p>
                Liga Deportiva Alajuelense: x%
                <br> Deportivo Saprissa: x%
                <br> Club Sport Herediano: x%
                <br> Santos de Guapiles: x%
                <br> Municipal Grecia: x%
                <br> Limon FC: x%
                <br> Club Sport Cartagines: x%
                <br> Guadalupe FC: x%
                <br> Carmelita: x%
                <br> Perez Zeledon: x%
                <br> Universidad de Costa Rica: x%
                <br> Liberia: x%
                <br>
            </p>
        </div>
    </div>
</div>


<div class="container">
    <h2>Goles Recibidos</h2>
    <div class="row">
        <div class="col-md-9">
            <canvas id="recibidos" width="700" height="400"></canvas>
        </div>
        <div class="col-md-3">
            <p>
                Liga Deportiva Alajuelense: x%
                <br> Deportivo Saprissa: x%
                <br> Club Sport Herediano: x%
                <br> Santos de Guapiles: x%
                <br> Municipal Grecia: x%
                <br> Limon FC: x%
                <br> Club Sport Cartagines: x%
                <br> Guadalupe FC: x%
                <br> Carmelita: x%
                <br> Perez Zeledon: x%
                <br> Universidad de Costa Rica: x%
                <br> Liberia: x%
                <br>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h2>Partidos Ganados</h2>
    <div class="row">
        <div class="col-md-9">
            <canvas id="ganados" width="700" height="400"></canvas>
        </div>
        <div class="col-md-3">
            <p>
                Liga Deportiva Alajuelense: x%
                <br> Deportivo Saprissa: x%
                <br> Club Sport Herediano: x%
                <br> Santos de Guapiles: x%
                <br> Municipal Grecia: x%
                <br> Limon FC: x%
                <br> Club Sport Cartagines: x%
                <br> Guadalupe FC: x%
                <br> Carmelita: x%
                <br> Perez Zeledon: x%
                <br> Universidad de Costa Rica: x%
                <br> Liberia: x%
                <br>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h2>Partidos Perdidos</h2>
    <div class="row">
        <div class="col-md-9">
            <canvas id="perdidos" width="700" height="400"></canvas>
        </div>
        <div class="col-md-3">
            <p>
                Liga Deportiva Alajuelense: x%
                <br> Deportivo Saprissa: x%
                <br> Club Sport Herediano: x%
                <br> Santos de Guapiles: x%
                <br> Municipal Grecia: x%
                <br> Limon FC: x%
                <br> Club Sport Cartagines: x%
                <br> Guadalupe FC: x%
                <br> Carmelita: x%
                <br> Perez Zeledon: x%
                <br> Universidad de Costa Rica: x%
                <br> Liberia: x%
                <br>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h2>Goles por Jornada</h2>
    <div class="row">
        <div class="col-md-9">
            <canvas id="goles" width="700" height="400"></canvas>
        </div>
        <div class="col-md-3">
            <p>
                Liga Deportiva Alajuelense: x%
                <br> Deportivo Saprissa: x%
                <br> Club Sport Herediano: x%
                <br> Santos de Guapiles: x%
                <br> Municipal Grecia: x%
                <br> Limon FC: x%
                <br> Club Sport Cartagines: x%
                <br> Guadalupe FC: x%
                <br> Carmelita: x%
                <br> Perez Zeledon: x%
                <br> Universidad de Costa Rica: x%
                <br> Liberia: x%
                <br>
            </p>
        </div>
    </div>
</div>