

<div class="container">
    <h2>Goles Anotados</h2>
    <div class="row">
        <div class="col-md-9">
            <canvas id="myChart" width="700" height="400"></canvas>.
        </div>
        <div class="col-md-3">
            <p>
                Liga Deportiva Alajuelense: 14,47%
                <br> Deportivo Saprissa: 14,47%
                <br> Club Sport Herediano: 10.59%
                <br> Santos de Guápiles: 9,04%
                <br> Municipal Grecia: 6,97%
                <br> Limón FC: 8,01%
                <br> Club Sport Cartaginés: 4,13%
                <br> Guadalupe FC: 7,23%
                <br> Carmelita: 6,71%
                <br> Pérez Zeledón: 6,97%
                <br> Universidad de Costa Rica: 6,71%
                <br> Liberia: 4,65%
                <br>
            </p>
        </div>
    </div>
</div>


<div class="container">
    <h2>Goles Recibidos</h2>
    <div class="row">
        <div class="col-md-9">
            <canvas id="recibidos" width="700" height="400"></canvas>
        </div>
        <div class="col-md-3">
            <p>
                Liga Deportiva Alajuelense: 8.50%
                <br> Deportivo Saprissa: 7,47%
                <br> Club Sport Herediano: 5,41%
                <br> Santos de Guápiles: 7,47%
                <br> Municipal Grecia: 8,76%
                <br> Limón FC: 7,98%
                <br> Club Sport Cartaginés: 8,24%
                <br> Guadalupe FC: 8,24%
                <br> Carmelita: 10,05%
                <br> Pérez Zeledón: 8,24%
                <br> Universidad de Costa Rica: 8,24%
                <br> Liberia: 11,34%
                <br>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h2>Partidos Ganados</h2>
    <div class="row">
        <div class="col-md-9">
            <canvas id="ganados" width="700" height="400"></canvas>
        </div>
        <div class="col-md-3">
            <p>
                Liga Deportiva Alajuelense: 16
                <br> Deportivo Saprissa: 16
                <br> Club Sport Herediano: 16
                <br> Santos de guápiles: 11
                <br> Municipal Grecia: 6
                <br> Limón FC: 7
                <br> Club Sport Cartaginés: 1
                <br> Guadalupe FC: 7
                <br> Carmelita: 7
                <br> Pérez Zeledón: 7
                <br> Universidad de Costa Rica: 6
                <br> Liberia: 3
                <br>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h2>Partidos Perdidos</h2>
    <div class="row">
        <div class="col-md-9">
            <canvas id="perdidos" width="700" height="400"></canvas>
        </div>
        <div class="col-md-3">
            <p>
                Liga Deportiva Alajuelense: 6
                <br> Deportivo Saprissa: 5
                <br> Club Sport Herediano: 6
                <br> Santos de Guápiles: 8
                <br> Municipal Grecia: 10
                <br> Limón FC: 8
                <br> Club Sport Cartaginés: 12
                <br> Guadalupe FC: 7
                <br> Carmelita: 11
                <br> Pérez Zeledón: 8
                <br> Universidad de Costa Rica: 9
                <br> Liberia: 13
                <br>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h2>Goles por Jornada</h2>
    <div class="row">
        <div class="col-md-8">
            <canvas id="goles" width="700" height="400"></canvas>
        </div>
        <div class="col-md-2">
            <p>
                Jornada 1: 14<br>
                Jornada 2: 12<br>
                Jornada 3: 11<br>
                Jornada 4: 16<br>
                Jornada 5: 12<br>
                Jornada 6: 21<br>
                Jornada 7: 15<br>
                Jornada 8: 8<br>
                Jornada 9: 12<br>
                Jornada 10: 25<br>
                Jornada 11: 15<br>
            </p>
        </div>
        <div class="col-md-2">
                <p>
                    Jornada 12: 22<br>
                    Jornada 13: 14<br>
                    Jornada 14: 12<br>
                    Jornada 15: 16<br>
                    Jornada 16: 11<br>
                    Jornada 17: 21<br>
                    Jornada 18: 18<br>
                    Jornada 19: 17<br>
                    Jornada 20: 21<br>
                    Jornada 21: 22<br>
                    Jornada 22: 16<br>
                </p>
            </div>
    </div>
</div>