<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<footer>

    <div ng-sticky style="width:100%" [offSet]="0" [addClass]="'is-sticky'">

  <div class="container-footer-all">


  <div class="container-body">

        <div class="column1">
            <h1>Más Información de la Página</h1>
            <p>Esta es una página que busca informar sobre todo
            el ámbito del futbol a nivel de Costa Rica.</p>
            <p>Se busca información confiable y de otras páginas serias para
            que el visitante obtenga información veridica y de calidad.</p>
        </div>

        <div class="column2">
            <h1>Twitter UNAFUT</h1>
            <div class="row">
                <a class="twitter-timeline" data-width="300" data-height="200" href="https://twitter.com/UnafutOficial?ref_src=twsrc%5Etfw">Tweets by UnafutOficial</a>
            </div>
          </div>
  

        <div class="column3">
          <h1>Información  Contactos</h1>
            <div class="row2">
                <img src="assets/img/email.png">
                <label >futboltico@gmail.com</label>
            </div>
        </div>

  </div>
  <br/>
  <div class="container-footer">
    <div class="footer">


    <div class="copyright">
      &copy; 2018, Todos los Derechos Reservados.
    </div>
    <div class="information">
      Pagina Diseñada por | <a target="_blank" href="https://www.facebook.com/rolando.campos.12">Rolando</a> <a target="_blank" href="https://www.facebook.com/mario.alvaradoangulo">Mario</a>  <a target="_blank" href="https://www.facebook.com/kevin.rodriguezvalverde">Kevin</a>  <a target="_blank" href="https://www.facebook.com/david.leitonarias">David</a> 
    </div>

    </div>
  </div>
</div>

</div>

</footer>
