*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer{
  width: 100%;
  background: #202020;
  color: white;
  padding: 20px;
}


.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.container-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column1{
  max-width: 400px;
  margin-top: 10px;
}

.column1 h1 {
  font-size: 22px;

}

.column1 p {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}
/* Todo el CSS de la columna 2
.column2{
  max-width: 400px;
  margin-top: 10px;
}

.column2 h1 {
  font-size: 22px;
}

.row {
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;
}

.row label{
  margin-top: 10px;
  margin-left: 20px;
}
*/
.column3{
  max-width: 400px;
  margin-top: 10px;

}

.column3 h1 {
  font-size: 22px;
  text-align: center;

}

.column3 label {
  font-size: 18px;
  color: #C7C7C7;
  margin-top: 20px;
}

.row2 {
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140%;
}

.container-footer{
  width: 100%;
  background: #101010;
}

.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.copyright{
  color: #C7C7C7;
}

.information{
  text-decoration: none;
  color: #C7C7C7;
}

@media screen and (max-width: 1100px;){
    .container-body{
      flex-wrap: wrap;
    }

    .column3 {
      margin-top: 40px;
    }

}
